 .active{
 	background-color: lightpink;
 }

button :focus{
 	outline: none!important;
 }

 .mat-stroked-button ::ng-deep{
 	transition: none!important;
    font-size: larger;
 }

 .pink{
 	color: pink;
 }

 .buttonRow{
 	width: 350px;
 }

 .doubleButtonRow{
 	max-width: 700px;
 }