/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
	font-family: 'Gloria Hallelujah', cursive;
	/*font-family: 'Roboto', cursive;*/
}

 input{
	text-align: right;
}

 h2{
 	font-size: larger!important;
 }

 input{
 	font-size: 93%!important;
 	/*border: none!important;*/
 }

/* input:focus ::ng-deep{
 	border: none!important;
 }*/

 mat-button ::ng-deep {
 	font-size: larger;
 }